@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500&family=Oxygen:wght@300;400;700&family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oxygen", sans-serif;
  color: var(--body-color-ligt);
  background-color: var(--darker);
  /* background-image: url("/assets/img/void-bg.jpg"); */
  height: 50%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--light);
}
.hidden {
  display: none;
}
:root {
  --body-color-dark: #212529;
  --body-color-light: #d7e3ec;
  --dark-blue: #080839;
  --blue-pigment: #4633a8;
  --purple-plum: #8e59be;
  --orchid-c: #d091ca;

  --body-bg: #e8eef1;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #1abc9c;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #1abc9c;
  --secondary: #2c3e50;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --darker: #0e1011;
}

.navbar-links {
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
  color: var(white);
}

.navbar-links:hover,
button:hover {
  outline: 0;
  color: var(white);
}
.navbar-links:active,
button:active {
  outline: 0;
  color: var(white);
}

.nav-container {
  max-width: 1000px;
  padding: 0 1.4rem;
  margin: 0 auto;
}
#navbar {
  position: fixed;
  height: 64px;
  border-top: 0.3vh solid rgba(166, 166, 166, 0.173);
  border-bottom: 0.3vh solid rgba(166, 166, 166, 0.171);
  backdrop-filter: blur(5vh);
  background: rgba(57, 57, 57, 0.091);
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 3;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--white);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--white);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 1.4em 0.8em;
  border-radius: 5px;
  text-transform: uppercase;
}
/* nav link text */
.navbar-link:is(:focus, :hover) {
  color: var(--purple-plum);
  transition: 0.2s ease-in-out;
}

.logo-img {
  width: 40px;
  margin: 0 10px;
}
.logo-title {
  font-family: "Alegreya SC", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--light);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--purple-plum);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: 64px;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  background-color: #000;
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
  margin: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5vh);
  background: rgba(57, 57, 57, 0.091);
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  background-image: url(/assets/img/empty-space1.png);
  opacity: 0.9;
}

.navbar-links {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
/* MOBILE */
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
.landing-page {
  background-image: url(/assets/img/the-void.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MOBILE */
@media only screen and (max-width: 700px) {
  .landing-page {
    background-image: url(/assets/img/mobil-void.jpg);
  }
  .hero .hero-title {
    margin: 0.5em;
    font-size: 2em;
  }
  .under-title {
    font-size: 1.5em;
  }
  .navbar-item {
    width: 90%;
  }
  div.gc--1-of-3 {
    width: 100%;
  }
  div.gc--2-of-3 {
    width: 100%;
  }
  div.gc--2-of-3 ul.nacc li.active {
    max-height: 60vh;
    width: 100vw;
  }
  div.naccs {
    margin: 85px auto 0;
  }

  .naccs .menu div.active {
    padding: 0px 20px 0px 20px;
  }
  .naccs .menu div.mobil {
    padding: 0px 20px 0px 40px;
  }
}
@media only screen and (max-width: 420px) {
  .menu span {
    font-size: 0.8em;
  }
}
.reveal {
  opacity: 0;
  visibility: hidden;
}
/*  HERO LANDING PAGE  */
.hero {
  border-top: 0.3vh solid rgba(166, 166, 166, 0.173);
  border-bottom: 0.3vh solid rgba(166, 166, 166, 0.171);
  backdrop-filter: blur(5vh);
  background: rgba(57, 57, 57, 0.091);
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  position: relative;
  width: 100vw;
  top: 26%;
}

.hero-title {
  font-family: kiona;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--light);
  text-shadow: 0 0 28px #d3b1c2;
  margin: 0.2em;
}

.hero-subtext {
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0 auto 2.5em;
  max-width: 60%;
  letter-spacing: 0.2em;
}
.hero-btn {
  height: 3em;
}
.hero-btn:active {
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
}

.glow-on-hover {
  padding: 15px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 1em;
  text-decoration: none;
  color: var(--light);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #d091ca,
    #8e59be,
    #4633a8,
    #080839,
    #4633a8,
    #8e59be,
    #d091ca
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid rgba(166, 166, 166, 0.173);
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.glow-on-hover:hover {
  color: var(--light);
}
.glow-on-hover:hover:after {
  background: var(--blue-pigment);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* new contact from  */
.form-container {
  background-image: url("/assets/img/void-bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  width: 85%;
  border: 0.3vh solid rgba(166, 166, 166, 0.173);
  backdrop-filter: blur(5vh);
  background: rgba(57, 57, 57, 0.091);
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  margin: 70px auto;
  padding: 60px 30px 30px;
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--gray-600);
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: var(--light);
  margin-bottom: 10px;
}
.content .left-side .details {
  font-size: 0.8em;
  font-weight: 500;
}
.form-list {
  list-style: none;
}
.form-list li {
  margin: 0.5em;
}
.form-list a {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
  letter-spacing: 1px;
}
.form-list a:hover {
  text-decoration: underline;
}
.left-side p {
  font-size: 1.1em;
  color: var(--gray-300);
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--light);
  margin: 0 10px 10px;
}
.gitlink {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.gitlink:hover {
  text-decoration: underline;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1em;
  background: transparent;
  border: 2px solid rgba(166, 166, 166, 0.173);
  color: var(--light);
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  font-size: 1.2em;
  color: var(--light);
  min-height: 110px;
  background: transparent;
  border: 2px solid rgba(166, 166, 166, 0.173);
  border-radius: 6px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: var(--light);
  font-size: 18px;
  outline: none;
  border: 1px solid rgba(166, 166, 166, 0.173);
  padding: 8px 16px;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
  .form-container {
    overflow: visible;
    margin-top: 6em;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
  }
  .form-container {
    margin-top: 12em;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
/* about planets and other fact pages */
.info-container {
  background-image: url("/assets/img/void-bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.grid {
  list-style: none;
  margin-left: -40px;
}

.gc {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  position: relative;
  max-width: 900px;
  margin: 100px auto 0;
}

.naccs .menu div {
  font-family: "Alegreya SC", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #eef3f7;
  padding: 15px 20px 15px 40px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: left;
}

.naccs .menu div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
.naccs .menu .fas {
  display: none;
}
.naccs .menu div.active .fas {
  display: inline-block;
}

.naccs .menu div.active {
  text-shadow: 0 0 28px #d3b1c2;
  padding: 15px 20px 15px 20px;
}

ul.nacc {
  position: relative;
  height: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  padding: 3vh;
  border-radius: 1vh;
  border: 0.3vh solid rgba(166, 166, 166, 0.171);
  backdrop-filter: blur(5vh);
  background: rgba(57, 57, 57, 0.091);
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin: 0;
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
  overflow-y: scroll;
  overflow-x: clip;
  /* max-height: 100%; */
}

ul.nacc li p {
  text-align: left;
  padding: 1vh;
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: kiona;
  src: url(/assets/Kiona-Regular.ttf);
}
